body {
  padding: 0;
  margin: 0;
}

#board {
  width: 1980px;
  height: 2975px;
  background-image: url("images/board.jpg");
}

.territory {
  fill: none;
  stroke: none;
  pointer-events: all;
}
.territory:hover {
  fill: orange;
  opacity: 0.7;
}

.territory.drop-actived {
  fill: white;
  opacity: 0.7;
}

.unit {
  color: yellow;
  border: 5px solid yellow;
  width: 50px;
  height: 70px;
  position: absolute;
  z-index: 9999px;
}

.u {
  color: red;
  border: 5px solid red;
  width: 50px;
  height: 70px;
  z-index: 9999px;
  position: relative
}
